.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      ul
        li.pure-menu-selected
          a(href='/') Home
        li
          a(href='#') Posts
        li
          a(href='#') Categories
        li
          a(href='#') Photos
        li
          a(href='#') About
