.home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
      .pure-menu-heading She's Got a Will
      ul
        li.pure-menu-selected
          a(href='#') Home
        li
          a(href='#') Tour
