<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <ul>
    <li class="pure-menu-selected">
      <a href="{{@blog.url}}">Home</a>
    </li>
    <li>
      <a href="{{@blog.url}}/me">Me</a>
    </li>
  </ul>
</div>

<header>
  <div class="container">
    <h1 class="splash-head">Dear Universe,</h1>
  </div>
</header>
