%p
  %center
    %h1
      404 Error: Page Not Found
  %h1
    %small
      We can't find the page you're looking for. But have no fear! We've got our best men on it! Let us know what happened so we can fix it!
%img.img-responsive{:src => asset_path('404.png')}/
