<div id="posts">
  <% if @posts.count == 0 %>
    <center>
      <h1>We haven't posted anything yet :(</h1>
    </center>
  <% end %>
  <% @posts.each do |post| %>
    <div class="blog-post">
      <h1 class="blog-post-title">
        <%= link_to_unless_current post.title, post %>
      </h1>
      <small>
        <p class="date">
          <span class="ion-calendar"></span>
          <%= post.created_at.strftime("%d %b. %Y") %>
        </p>
      </small>
      <%= simple_format post.body %>
    </div>
  <% end %>
</div>
