= render :partial => @post

%br
%br

%button.btn.commentBtn{"data-target" => "#comments", "data-toggle" => "collapse", :type => "button"}
  %h2
    %span.ion-android-forums
#comments.collapse
  %br
  = render :partial => @post.comments

%button.btn.commentBtn{"data-target" => "#addComment", "data-toggle" => "collapse", :type => "button"}
  %h2
    %span.ion-plus-round
#addComment.collapse
  .container
    = render "comments/form"
