.splash-head {
    display: inline-block;
    font-size: 5em;
    font-weight: bold;
    color: white;
    /*border: 3px solid white;*/
    /*background: rgba(255, 255, 255, 0.25);*/
    padding: 0.25em 0.35em 0;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    /*background: rgba(255, 255, 255, 0.9);*/
    font-family: 'Sacramento', cursive;
    /*margin-left: 2%;*/
}

header.container {
    padding-bottom: 0;
}
/* This is the subheading that appears on the blue section */

.header h1 {
    margin: 0;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: 0px;
}
.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: black;
    color: white;
    text-align: center;
}
.pure-menu.pure-menu-open a,
.pure-menu.pure-menu-horizontal li .pure-menu-children a,
.pure-menu.pure-menu-open .pure-menu-heading,
.pure-menu.pure-menu-horizontal li .pure-menu-children .pure-menu-heading {
    color: white;
}

.pure-menu.pure-menu-open a:hover,
.pure-menu.pure-menu-horizontal li .pure-menu-children a:hover {
    color: black;
    background: pink;
}

  .home-menu a {
    color: white !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .home-menu a:hover,
  .home-menu a:focus {
    color: black !important;
    background: pink !important;
  }

