<footer>
  <div class="row">
    <div class="col-sm-4">
      <div class="fc-header-title"><h2>Recent Posts</h2></div>
      <p>
        <% @recent_posts = Post.order("created_at DESC").limit(3) %>
        <% if @recent_posts.count == 0 %>
          <center>
            <h1>I haven't posted anything yet :(</h1>
          </center>
        <% end %>
        <% @recent_posts.each do |post| %>
          <%= link_to_unless_current post.title, post %><br>
        <% end %>
      </p>
      <br>
    </div>
    <div class="col-sm-4">
      <!--- follow blog via emai
      -->
      <!--- follow me on twitter
      -->
    </div>
    <div class="col-sm-4">
      <div id="calendar"></div>
    </div>
  </div>
</footer>
<div class="sumedha-footer">
  <div class="row text-center">
    <p class="copyright">
      Made with
      <span class="ion-heart"></span>
      <span>by</span>
      <a href="http://sumninjacode.io"> Sumedha Pramod</a>
      <span>&#124;</span>
      <a href='https://github.com/pramodsum/ShesGotAWill/issues'>Issues</a>
    </p>
  </div>
</div>