<footer>
  <div class="row">
    <div class="col-sm-4">
      <div class="fc-header-title"><h2>Recent Posts</h2></div>
      <p>
        <% @recent_posts = Post.order("created_at DESC").limit(3) %>
        <% @recent_posts.each do |post| %>
          <%= link_to_unless_current post.title, post %><br>
        <% end %>
      </p>
      <br>
    </div>
    <div class="col-sm-4">
      <!--- follow blog via emai
      -->
      <a href="https://twitter.com/ab_dearuniverse" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ab_dearuniverse</a>
      <br>
    </div>
    <div class="col-sm-4">
      <div id="calendar"></div>
    </div>
  </div>
</footer>
<div class="sumedha-footer">
  <div class="row text-center">
    <p class="copyright">
      Made with
      <span class="ion-heart"></span>
      <span>by</span>
      <a href="http://sumninjacode.io"> Sumedha Pramod</a>
      <span>&#124;</span>
      <a href='https://github.com/pramodsum/ShesGotAWill/issues'>Issues</a>
    </p>
  </div>
</div>


<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>