<footer>
  <div class="row">
    <div class="col-xs-4">
      <!--- recent posts
      -->
    </div>
    <div class="col-xs-4">
      <!--- follow blog via emai
      -->
      <!--- follow me on twitter
      -->
    </div>
    <div class="col-xs-4">
      <!--- calendar
      -->
    </div>
  </div>
</footer>
<div class="sumedha-footer">
  <div class="row text-center">
    <p class="copyright">
      Made with
      <span class="ion-heart"></span>
      <span>by</span>
      <a href="http://sumninjacode.io"> Sumedha Pramod</a>
      <span>&#124;</span>
      <a href='https://github.com/pramodsum/ShesGotAWill/issues'>Issues</a>
    </p>
  </div>
</div>
