<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <ul>
    <li class="pure-menu-selected">
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">Me</a>
    </li>
  </ul>
</div>
