.sidebar-module.sidebar-module-inset
  %center
    %img.img-responsive.img-circle{:src => asset_path('profile.jpeg')}/
  %p.text-center
    %strong Anagha Bharadwaj
  %p
    You like my biodata?
    %br
    %em B-I-O-D-A-T-A
-#.sidebar-module
-#  %h4 Blogs I Like
-#  %ol.list-unstyled
-#    %li
-#      %a{:href => "#"} March 2014
-#    %li
-#      %a{:href => "#"} February 2014
-#    %li
-#      %a{:href => "#"} January 2014
-#    %li
-#      %a{:href => "#"} December 2013
-#    %li
-#      %a{:href => "#"} November 2013
-#    %li
-#      %a{:href => "#"} October 2013
-#    %li
-#      %a{:href => "#"} September 2013
-#    %li
-#      %a{:href => "#"} August 2013
-#    %li
-#      %a{:href => "#"} July 2013
-#    %li
-#      %a{:href => "#"} June 2013
-#    %li
-#      %a{:href => "#"} May 2013
-#    %li
-#      %a{:href => "#"} April 2013
